<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRATOR</title>
    <link rel="stylesheet" href="../static/css/admin.css"
</head>
<body>

    {% set menssage = get_flashed_messages() %}
    {% if menssage %}
        <div class="flash_alerta">
            {{menssage[0]}}
        </div>
    {%endif%}

        <h1 class="titulo">Administrator</h1>

    <div id="form_fundo">
        <h1>CADASTRAR USUÁRIO</h1>
        <div id="form_frente">
        <form action="/addUser" id="login" method="post">
            <label for="nomeuser">Usuário:</label>
            <input type="name" name="nomeuser" id="nomeuser" placeholder="Digite o Nome" required><br><br>
           
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required><br><br>
           
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha" required><br><br>

            <label for="cpf">CPF:</label>
            <input type="number" name="cpf" id="cpf" placeholder="Digite o CPF" required><br><br>

            <label for="telefone">Telefone:</label>
            <input type="number" name="telefone" id="telefone" placeholder="Digite o telefone" required><br><br>

            
            <button type="submit" id="button_login">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                CADASTRAR
            </button>
        </form>
        </div>
    </div>

    <div id="form_fundo" class="listaUsuarios">
        <h1>USUÁRIOS CADASTRADOS</h1>
        <div id="form_frente" class="userList">
            {%if user%}
            <form action="/delUser" method="post">
                {%for c in user %}
                    <ul>
                        <input type="hidden" name="delUser" value="{{c}}">
                        <li>{{c['nomeuser']}}</li>
                        <li>{{c['email']}}</li>
                        <li>{{c['password']}}</li>
                        <li>{{c['cpf']}}</li>
                        <li>{{c['telefone']}}</li>
                    </ul>
                    <button type="submit">Excluir</button><br>
                </form>
                    -------------------------------
                {%endfor%}
            {%else%}
            <h1>Não existem usuários cadastrados</h1>

            {%endif%}

        </div>
    </div>

</body>
</html>